@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

#app {
    height: 100%;
}

body {
    background-color: #fafafa;
    color: #3b4252
}

@media (min-width: 640px) {
    div.el-dialog {
        width: 90%;
    }
}

@media (min-width: 760px) {
    div.el-dialog {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    div.el-dialog {
        width: 50%;
    }
}